.lineChartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.lineChartContainer .line-chart [ngx-charts-axis-label] {
  font-family: "DejaVu Sans", sans-serif;
  font-size: 1.2em !important;
}

.lineChartContainer .line-chart .tick text {
  font-family: "DejaVu Sans", sans-serif;
  font-size: 1em !important;
}

.header .stats {
  display: flex;
  flex-flow: row wrap;
  gap: 1.2em;
  justify-content: center;
}

.custom-tooltip {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  border-radius: 5px;
  pointer-events: none;
  background-color: #04828e;;
  z-index: 10;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 1.3em;
  font-family: "DejaVu Sans", sans-serif;
}

.custom-tooltip span {
  display: flex;
  justify-content: center;
  gap: 0.2em;
}

.ngx-charts-tooltip-content.type-tooltip span.tooltip-caret.position-top {
  display: block;
  width: 2em;
  height: 2em;
  background-color: #04828e;
  border: inherit;
  position: absolute;
  top: calc(50% - 1em) !important;
  left: calc(50% - 1em) !important;
  clip-path: polygon(20% 0%, 100% 80%, 0% 100%);
  transform: rotate(-45deg);
  border-radius: 0 0 0 0.6em;
}
