.statsElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #04828e;
  padding: 10px;
  border-radius: 8px;
  font-family: "DejaVu Sans", sans-serif;
  font-size: 1.2em;
}

.statsElementTitle {
  color: #7d7d7d;
}

.statsElementValue {
  font-weight: 600;
}
